<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="leftmenu">
    <ul class="nav flex-column">
        <li class="nav-item">
            <div style="padding-top:20px;" class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a th:href="#" style="margin:5px;" class="nav-link active" id="v-pills-home-tab" data-toggle="pill" role="tab" aria-controls="v-pills-home" aria-selected="true"></a>
            </div>
        </li>
    </ul>
</div>
</html>