<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
    <nav class="navbar navbar-dark sticky-top bg-dark ">
        <div class="container">
            <a class="text-light" href="#"><h4>Core Spring Security</h4></a>
            <ul class="nav justify-content-end">
                <li class="nav-item" ><a class="nav-link text-light" href="/">HOME</a></li>
                <li class="nav-item" ><a class="nav-link text-light" th:href="@{/users}">회원가입</a></li>
            </ul>
        </div>
    </nav>
</div>
</html>