<html  xmlns:th="http://www.thymeleaf.org">
<head>
<title>Member Register</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="/js/jquery-2.1.3.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/bootstrap-table.js"></script>
</head>

<body>
	<script type="text/javascript">
	$(document).ready(function(){
		
	});
	
	</script>

<div class="hero-unit">
	<h1>Member Register</h1>
</div>
<form class="form-horizontal" th:action="@{/users}" method="post">
  <div class="form-group">
    <label for="username" class="col-sm-2 control-label">아이디</label>
    <div class="col-sm-10">
      <input type="text" class="form-control input-large" name="username" id="username" placeholder="username" required>
    </div>
  </div>

  <div class="form-group">
    <label for="password" class="col-sm-2 control-label">비밀번호</label>
    <div class="col-sm-10">
      <input type="password" class="form-control input-large" name="password" id="password" placeholder="Password" data-minlength="6" required>
    </div>
  </div>
  <div class="form-group">
    <label for="email" class="col-sm-2 control-label">이메일</label>
    <div class="col-sm-10">
      <input type="email" class="form-control input-large" name="email" id="email" placeholder="이메일" required>
    </div>
  </div>
  <div class="form-group">
    <label for="age" class="col-sm-2 control-label">나이</label>
    <div class="col-sm-10">
      <input type="text" class="form-control input-large" name="age" id="age" placeholder="나이" required>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-10">
      <button type="Submit" class="btn btn-primary btn-large">회원가입</button>
      <a class="btn btn-primary btn-large" style="margin:10;" th:href="@{/user/users}">목록 </a>
    </div>
  </div>
</form>
</body>
</html>