<html  xmlns:th="http://www.thymeleaf.org">
<head>
<title>Member Register</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <script src="/static/js/jquery-2.1.3.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/bootstrap-table.js"></script>
</head>

<body>
	<script type="text/javascript">
	$(document).ready(function(){
		
	});
	
	</script>

<div class="hero-unit">
	<h1>Member Register</h1>
</div>
<form class="form-horizontal" th:action="@{/admin/resources}" method="post">
  <div class="form-group">
    <label for="resourceName" class="col-sm-2 control-label">리소스명</label>
    <div class="col-sm-10">
      <input type="text" class="form-control input-large" name="resourceName" id="resourceName" placeholder="리소스명" required>
    </div>
  </div>

  <div class="form-group">
    <label for="resourceType" class="col-sm-2 control-label">리소스타입</label>
    <div class="col-sm-10">
      <input type="text" class="form-control input-large" name="resourceType" id="resourceType" placeholder="리소스타입" data-minlength="6" required>
    </div>
  </div>
  <div class="form-group">
    <label for="httpMethod" class="col-sm-2 control-label">HttpMethod</label>
    <div class="col-sm-10">
      <input type="text" class="form-control input-large" name="httpMethod" id="httpMethod" placeholder="HttpMethod" data-minlength="6" required>
    </div>
  </div>
  <div class="form-group">
    <label for="orderNum" class="col-sm-2 control-label">순서</label>
    <div class="col-sm-10">
      <input type="text" class="form-control input-large" name="orderNum" id="orderNum" placeholder="순서" data-minlength="6" required>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-10">
      <button type="Submit" class="btn btn-primary btn-large">리소스등록</button>
      <a class="btn btn-primary btn-large" style="margin:10;" href="/admin/resources">목록 </a>
    </div>
  </div>
</form>
</body>
</html>