<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header::userHead"></head>
<body>
<div th:replace="layout/top::header"></div>
<div class="container">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <div th:replace="layout/left::leftmenu"></div>
            </div>
        </nav>
    </div>
</div>
<footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">
        <p class="text-primary">Copyright 2020 Core Spring Security. All Right Reserved</p>
    </div>
</footer>
</body>
</html>